{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Maratona Full Cycle 3.0</title>

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#ffcd25" />

    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,600"
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      type="text/css"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <div>
    <h1>Maratona Full Cycle 3.0</h1>
    <p>Listagem das aulas da maratona</p>
  </div>
</html>
